  * {
            margin: 0px;
            padding: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            background: linear-gradient(45deg, #049210, #7d1970);
            align-items: center;
        }

        .hero {
            width: 500px;
            height: 150px;
            background: linear-gradient(95deg,  #506d5d, #684663); ;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            min-width: 100vh;
            color: #fff;
            position: relative;
        }

        .hero::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            background: linear-gradient(90deg, rgba(12, 177, 67, 0.4), rgba(213, 149, 12, 0.4));
            border-radius: 10px;
            left: -40px;
            top:20px;
            z-index: -1;
        }

        .hero::after {
            content: '';
            position: absolute;
            width: 120px;
            height: 120px;
            background: linear-gradient(90deg, rgba(231, 11, 220, 0.4), rgba(213, 149, 12, 0.4));
            border-radius: 70px;
            right: -60px;
            bottom: 10px;
            z-index: -1;
        }

        .time {
            text-align: center;
            justify-content: center;
        }

        .time span {
            font-size: 50px;
            font-weight: bold;
            display: block;

        }

        .time p {
            font-size: 14px;
            letter-spacing: 2px;
            margin-top: 5px;
        }